:root {
  --red-10: #FCF3F2;
  --red-20: #FADCD9;
  --red-30: #FABBB4;
  --red-40: #FC9086;
  --red-50: #FA5343;
  --red-60: #D91F11;
  --red-70: #A1160A;
  --red-80: #75160C;
  --red-90: #4F150F;
  --red-100: #24120C;

  --orange-10: #FCF2EB;
  --orange-20: #FCDDC7;
  --orange-30: #FCBC97;
  --orange-40: #FC9162;
  --orange-50: #EF743C;
  --orange-60: #CF5B16;
  --orange-70: #8F3415;
  --orange-80: #632B17;
  --orange-90: #402117;
  --orange-100: #1F1410;

  --yellow-10: #FAF6CF;
  --yellow-20: #F7E379;
  --yellow-30: #F5C518;
  --yellow-40: #D9A514;
  --yellow-50: #B3870E;
  --yellow-60: #946613;
  --yellow-70: #70491C;
  --yellow-80: #54341F;
  --yellow-90: #38251B;
  --yellow-100: #1C1613;

  --lime-10: #EBF7DA;
  --lime-20: #D5F0B1;
  --lime-30: #AAD971;
  --lime-40: #78BF39;
  --lime-50: #52A31D;
  --lime-60: #3C7D0E;
  --lime-70: #2E5C0E;
  --lime-80: #254211;
  --lime-90: #1C2E10;
  --lime-100: #121A0D;

  --green-10: #EBF7ED;
  --green-20: #C7EBD1;
  --green-30: #88DBA8;
  --green-40: #43C478;
  --green-50: #16A163;
  --green-60: #077D55;
  --green-70: #075E45;
  --green-80: #094536;
  --green-90: #092E25;
  --green-100: #081A15;

  --teal-10: #EBF5F4;
  --teal-20: #BEEBE7;
  --teal-30: #86D9D4;
  --teal-40: #4EBFB9;
  --teal-50: #279C9C;
  --teal-60: #167B7D;
  --teal-70: #155C5E;
  --teal-80: #124241;
  --teal-90: #102E2D;
  --teal-100: #0C1A19;

  --turquoise-10: #EBF5F4;
  --turquoise-20: #C7E8ED;
  --turquoise-30: #81D8E5;
  --turquoise-40: #45BCD1;
  --turquoise-50: #159AB2;
  --turquoise-60: #067A91;
  --turquoise-70: #09596B;
  --turquoise-80: #0C424D;
  --turquoise-90: #102D33;
  --turquoise-100: #0F181A;

  --aqua-10: #EBF3F7;
  --aqua-20: #C9E7F5;
  --aqua-30: #8BD3F7;
  --aqua-40: #48B8F0;
  --aqua-50: #1195D6;
  --aqua-60: #0073BA;
  --aqua-70: #08548A;
  --aqua-80: #0E3D66;
  --aqua-90: #0C2B45;
  --aqua-100: #0B1724;

  --blue-10: #F0F4FA;
  --blue-20: #D4E4FA;
  --blue-30: #ADCCF7;
  --blue-40: #75B1FF;
  --blue-50: #3D8DF5;
  --blue-60: #186ADE;
  --blue-70: #0D4EA6;
  --blue-80: #103A75;
  --blue-90: #11294D;
  --blue-100: #0D1826;

  --ultramarine-10: #F2F3FA;
  --ultramarine-20: #DEE0FA;
  --ultramarine-30: #C2C7FC;
  --ultramarine-40: #A0A7FA;
  --ultramarine-50: #7681FC;
  --ultramarine-60: #545FE8;
  --ultramarine-70: #3A45B0;
  --ultramarine-80: #2F337D;
  --ultramarine-90: #23254D;
  --ultramarine-100: #141429;

  --purple-10: #F7F2FC;
  --purple-20: #EADCFC;
  --purple-30: #DABEFA;
  --purple-40: #C89AFC;
  --purple-50: #AC71F0;
  --purple-60: #8F49DE;
  --purple-70: #6B30AB;
  --purple-80: #4C277D;
  --purple-90: #331F4D;
  --purple-100: #1C1229;

  --pink-10: #FCF0F8;
  --pink-20: #F7DAED;
  --pink-30: #F7B7E2;
  --pink-40: #FA87D4;
  --pink-50: #ED4CB7;
  --pink-60: #CC1D92;
  --pink-70: #961574;
  --pink-80: #6B155A;
  --pink-90: #47153F;
  --pink-100: #241020;

  --gray-10: #F5F5F5;
  --gray-20: #E0E0E0;
  --gray-30: #C6C6C6;
  --gray-40: #A8A8A8;
  --gray-50: #8D8D8D;
  --gray-60: #6B6B6B;
  --gray-70: #515152;
  --gray-80: #393939;
  --gray-90: #252525;
  --gray-100: #161616;

  --white: #FFFFFF;
  --black: #000000;
}

